<div class="container">

    <br>
    <h1 align="center">PIPES</h1>
    <hr>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Result</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{nombre}}</td>
                <td>Uppercase</td>
                <td>{{nombre | uppercase}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>Lowercase</td>
                <td>{{nombre | lowercase}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>Slice:3</td>
                <td>{{ nombre | slice:3 }}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>Slice:0:3</td>
                <td>{{ nombre | slice:0:3 }}</td>
            </tr>
            <tr>
                <td>{{arreglo}}</td>
                <td>Slice:1:5</td>
                <td>{{ arreglo | slice:1:5 }}</td>
            </tr>
            <tr>
                <td>{{PI}}</td>
                <td>Decimal:3.0-0</td>
                <td>{{ PI | number:'3.0-0' }}</td>
            </tr>
            <tr>
                <td>{{PI}}</td>
                <td>Decimal:1.0-2</td>
                <td>{{ PI | number:'1.0-2' }}</td>
            </tr>
            <tr>
                <td>{{a}}</td>
                <td>percent</td>
                <td>{{ a | percent }}</td>
            </tr>
            <tr>
                <td>{{a}}</td>
                <td>percent:'2.2-2'</td>
                <td>{{ a | percent:'2.2-2' }}</td>
            </tr>
            <tr>
                <td>{{salario}}</td>
                <td>currency</td>
                <td>{{ salario | currency }}</td>
            </tr>
            <tr>
                <td>{{salario}}</td>
                <td>currency:'MXN'</td>
                <td>{{ salario | currency:'MXN' }}</td>
            </tr>
            <tr>
                <td>{{salario}}</td>
                <td>currency:'MXN':true</td>
                <td>{{ salario | currency:'MXN':true }}</td>
            </tr>
            <tr>
                <td>{{salario}}</td>
                <td>currency:'MXN':true:'4.0-0'</td>
                <td>{{ salario | currency:'MXN':true:'4.0-0' }}</td>
            </tr>
            <tr>
                <td>{{valorDePromesa}}</td>
                <td>async</td>
                <td>{{ valorDePromesa | async }}</td>
            </tr>
            <tr>
                <td>{{fecha}}</td>
                <td>date</td>
                <td>{{ fecha | date }}</td>
            </tr>
            <tr>
                <td>{{fecha}}</td>
                <td>date:'medium'</td>
                <td>{{ fecha | date:'medium' }}</td>
            </tr>
            <tr>
                <td>{{fecha}}</td>
                <td>date:'MMMM - dd'</td>
                <td>{{ fecha | date:'MMMM - dd' }}</td>
            </tr>
            <tr>
                <td>{{fecha}}</td>
                <td>date:'MMMM - dd'</td>
                <td>{{ fecha | date:'MMMM - dd' }}</td>
            </tr>
            <tr>
                <td>{{nombre2}}</td>
                <td>Capitalizado</td>
                <td>{{ nombre2 | capitalizado}}</td>
            </tr>
            <tr>
                <td>{{nombre2}}</td>
                <td>Capitalizado</td>
                <td>{{ nombre2 | capitalizado:false}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>Contrasena:{{true}} <br>
                    <button (click)="activar = !activar" class="btn btn-primary btn-block" type="button">Activar/Desactivar</button>

                </td>
                <td>{{ nombre | contrasena:activar}}</td>
            </tr>
        </tbody>
    </table>
    <table>
        <h3>Slice</h3>
        <ul>
            <li *ngFor="let item of arreglo | slice:5:20">{{item}}</li>
        </ul>
        <h3>Json</h3>
        <pre>
          {{heroe | json}}
        </pre>
        <tr>
            <h3>Youtube <small>Video</small></h3>
            <!-- Se carga el video de forma dinamica con angular desde el Pipe que se genero -->
            <iframe width="893" height="502" [src]="video | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </tr>

    </table>

</div>